<div>
  <div class='gray-bar-border gray-bar-nav'></div>
  <div class='indiv-page'>
  <div class='col-up'>
    <img width="45" ng-src="{{selectedWatch.view1}}" alt="" ng-click='changeView(selectedWatch.view1)'>
    <img width="45" ng-src="{{selectedWatch.view2}}" alt="" ng-click='changeView(selectedWatch.view2)'>
    <img width="45" ng-src="{{selectedWatch.view3}}" alt="" ng-click='changeView(selectedWatch.view3)'>
  </div>
  <div>
    <img width="350" height="499" ng-src="{{watches.largeView}}" alt="">
  </div>
  <div class='item-info'>
  <div>
    <h6>SKU: {{selectedWatch.sku}}</h6>
    <h2 class='change-case'>{{selectedWatch.name}}, {{selectedWatch.size}}</h2>
    <h5>{{selectedWatch.price | currency}}</h5>
  </div>
    <div class="row pics-mar" ng-repeat="watch in watches.watches" ng-click="changeWatch(watch)">
        <a><img ng-src='{{watch.view1}}' width=32px></a>
    </div>
    <div class="">
      <p class='change-case center'>{{selectedWatch.color}}</p><br/>
      <h6 ng-show="selectedWatch.in_stock" class='center'>In Stock</h6>
      <h6 ng-hide="selectedWatch.in_stock" class='center'>Out of Stock</h6>
        <div class='btn-mar'><add-to-cart-directive product='selectedWatch'></add-to-cart-directive></div>
    </div>
  </div>
</div>

<div class='spec-container'>
  <div class='specs-text'>
    <div class='features-box'>
    <h6>THE STORY</h6>
    <h3>BROTHERS IN ARMS</h3>
      <p class='features'>Making the simple things a little more simplified, The Rollo 38’s slimmed down case retains a clean and considered design.<p>
    <hr>
    <h6>FEATURES</h6>
    <h3 class='h3-sub'>A CLASSIC WITH A TWIST</h3>
      <p class='features'>A 38 mm minimalist design for the creative-minded with an interest in the details of his possessions<p>
    <hr class='hr-features'>
    <h3 class='h3-sub'>TIME AND DATE</h3>
      <p class='features'>3- hand movement with date window at 3 o'clock and applied indices<p>
    <hr class='hr-features'>
    <h3 class='h3-sub'>IN THE DETAILS</h3>
      <p class='features'>Two-piece case with a chamfered, but smooth caseback designed for comfort against the wrist</p>
    <hr class='hr-features'>
    <h3 class='h3-sub'>MODERN TWIST</h3>
      <p class='features'>Stamped dial for a multidimensional appearance and colored seconds hand for signature Nixon styling</p>
    <hr>
    <p class='features'>USER MANUAL</p>
    <p class='features'>SIZE CHART</p>
    <p class='features'>WATER RATING</p>
    <hr>
    <p class='features'>FULL SPECS</p>
    <hr>
    <h6 class='wid-max'><span style='color:#1e1e1e;'>WARRANTY:</span> Nixon offers a <span style='color:#1e1e1e;text-decoration:underline;'>limited warranty</span> of defects in materials and workmanship for a period of two (2) years after original purchase.</h6>
  </div>
  </div>
  <div class='large-product-image'><img src='../img/watches/mens/rollo/large-product-view.png'></div>
</div>
</div>
