<div>
<div class='banner-image'><img src='../img/banners/MISSION-WATER-TIER1.jpg' width=100%></div>
<div class='grey-back'>
  <h1>Get gifting.</h1>
  <p>MAKE IT EXTRA MERRY WITH A CUSTOM MISSION MADE JUST FOR HIM</p>
  <div class='home-buttons'>
    <div class='btn btn-join'>SHOP MISSION</div>
    <div class='btn' ui-sref='mens-watches'>SHOP MEN'S WATCHES</div>
  </div>
  <div class='three-image'>
    <div class=''><img src='../img/homeView/MISSION-ORANGE-TIER2-LEFT-450X360.jpg'></div>
    <div class=''><img src='../img/homeView/11-28-TIER2-UGC-450X360.jpg'></div>
    <div class=''><img src='../img/homeView/11-28-TIER2-RIGHT-450X360.jpg'></div>
  </div>
</div>
<div class=''>NIXON ESSENTIALS</div>
<div class='grey-back'>
  <div class='size-gutter'><img src='../img/homeView/NixonxAmuse-Happs-Thumb-460x300.jpg'></div>
  <div class='size-gutter'><img src='../img/homeView/STECYK_VATO_RAT_HAPPS_HEADER_460X300.jpg'></div>
  <div> <img src='../img/homeView/videoscreengrab.png' width=50%></div>
</div>
<div class=''>


  <div class='watch-sizes'>
    <div class='size-gutter'><img src='../img/homeView/CASE_S.jpg' width=200px></div>
    <div class='size-gutter'><img src='../img/homeView/CASE_M.jpg' width=200px></div>
    <div class='size-gutter'><img src='../img/homeView/CASE_L.jpg' width=200px></div>
    <div class='size-gutter'><img src='../img/homeView/CASE_XL.jpg' width=200px></div>
  </div>
</div>
</div>
