<div>
<div class='banner-image'><img src='../img/banners/MISSION-WATER-TIER1.jpg' width=100%></div>
<div class='grey-back'>
  <h2 class='center'>Get gifting.</h2>
  <div class='home-buttons'>
    <div class='btn' ui-sref='mens-watches'>MEN'S WATCHES</div>
    <div class='btn' ui-sref='womens-watches'>WOMEN'S WATCHES</div>
  </div>
    <div class='three-image'>
        <div>
          <img class='home-three-image' src='../img/homeView/MISSION-ORANGE-TIER2-LEFT-450X360.jpg'>
          <h6 class='center'>The Mission</h6>
        </div>
        <div>
          <img class='home-three-image' src='../img/homeView/11-28-TIER2-UGC-450X360.jpg'>
          <h6 class='center'>Shop Social</h6>
          <br/>
        </div>
        <div>
          <img class='home-three-image' src='../img/homeView/11-28-TIER2-RIGHT-450X360.jpg'>
          <h6 class='center'>STAR WARS&#8482; | Nixon</h6>
        </div>
    </div>
</div>
<div class='top-mar'>
  <div class='watch-sizes'>
    <div class='size-gutter'><img src='../img/homeView/CASE_S.jpg' width=200px>
    <h6 class='center'>SMALL</h6><h6 class='center dark'>0 MM - 31 MM</h6></div>
    <div class='size-gutter'><img src='../img/homeView/CASE_M.jpg' width=200px>
    <h6 class='center'>MEDIUM</h6><h6 class='center dark'>32 MM - 41 MM</h6></div>
    <div class='size-gutter'><img src='../img/homeView/CASE_L.jpg' width=200px>
    <h6 class='center'>LARGE</h6><h6 class='center dark'>42 MM - 47 MM</h6></div>
    <div class='size-gutter'><img src='../img/homeView/CASE_XL.jpg' width=200px>
    <h6 class='center'>X-LARGE</h6><h6 class='center dark'>48 MM - 52 MM</h6></div>
  </div>
</div>
</div>
