<div class='banner-image'><img src='../img/banners/MISSION-WATER-TIER1.jpg' width=100%></div>
<div class='grey-back'>
  <p>Get gifting.</p>
  <p>MAKE IT EXTRA MERRY WITH A CUSTOM MISSION MADE JUST FOR HIM</p>
</div>
<div class=''>NIXON ESSENTIALS</div>
<div class='grey-back'>picture and movie goes here</div>
<div class=''>watch on display and watch sizes


  <div class='watch-sizes'>
    <div><img src='../img/homeView/CASE_S.jpg' width=200px></div>
    <div><img src='../img/homeView/CASE_M.jpg' width=200px></div>
    <div><img src='../img/homeView/CASE_L.jpg' width=200px></div>
    <div><img src='../img/homeView/CASE_XL.jpg' width=200px></div>
  </div>
</div>
