

/* navigation */
.menu-nav-container {
  background-color: #FFFFFF;
  height: 90px;
  padding-top: 30px;
  margin-top: 19px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  line-height: 30px;
}

.search-box {
  border-color: #1E1E1E;
  border: 2px;
  border-style: solid;
  width: 115px;
  height: 35px;
  text-align: center;
}

.clearfix:after {
  display: inline-block;
  clear: both;
}

.menu {
  display: inline-block;
  position: relative;
}

.sub-menu-cont {
  display: flex;
  justify-content: space-around;
  background-color: #FFFFFF;
}

.top-level:hover {
  border-bottom: 2px solid;
}

.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}

.sub-menu {
  float: left;
  padding:5px 0px;
  position:absolute;
  z-index:-1;
  opacity:0;
  transition:opacity linear 0.15s;
  background:#FFFFFF;
}

.sub-menu li {
  font-size: 11px;
  line-height: 18px;
  margin: 0px 15px;
}

.sub-menu li > a:hover {
  color: #acb1b4;
}
