/* navigation */
.container {
  background-color: #FFFFFF;
  height: 115px;
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  line-height: 20px;
}

.logo {
  padding-top: 30px;
  margin-top: 15px;
}

.top-level {
  margin: auto 10px;
}

.bottom-level {
  background-color: #FFFFFF;
  padding: 20px;
}

.menu-align {
  display: flex;
  justify-content: space-around;
}

.top-level-hover:hover {
  border-bottom: 2px solid;
}

.nav-col {
  font-size: 11px;
  background-color: #FFFFFF;
  margin: 5px;
}

.sub:hover {
  color: #D1D4D6;
}

.sub {
  margin-right: 10px;
}

.sub-nav-hr {
  color: #eef0f0;
  margin: 0;
  height: 1px;
  margin: 0;
  text-align: left;
  border: 0;
}
