/* navigation */
.container {
  background-color: #FFFFFF;
  height: 90px;
  margin-top: 19px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  line-height: 20px;
}

.logo {
  padding-top: 30px;
}

.search-box {
  border-color: #1E1E1E;
  border: 2px;
  border-style: solid;
  width: 115px;
  height: 32px;
  margin-top: 28px;
}

.search {
  text-align: center;
  vertical-align: middle;
  padding-top: 4px;
}

.main-navigation {
  display: flex;
  justify-content: space-around;
}

.top-level {
  margin: auto 20px;
  position: relative
}

.bottom-level {
  background-color: #FFFFFF;
  padding: 20px;
  display: none;
}

.top-level-hover:hover {
  border-bottom: 2px solid;
}

.top-level:hover .bottom-level {
  display: inline-block;
}

.nav-col {

}

.sub-nav-hr {
  color: #eef0f0;
}
