body {
  font-family: 'Montserrat', sans-serif;
  color: #1e1e1e;
  letter-spacing: .25px;
}

a {
  color: inherit;
}

.gray-bar-nav {
  height: 40px;
  background-color: #F7F8F9;
  font-size: 11px;
  color: #1E1E1E;
}

.grey-back {
  background-color: #F7F8F9;
}

.login-btn {

}

.black-bar-nav {
  height: 40px;
  background-color: #1E1E1E;
  font-size: 11px;
  color: #FFFFFF;
  display: flex;
  justify-content: flex-end;
}

.cart-btn {
  background-color: #1E1E1E;
  color: #FFFFFF;
  font-size: 12px;
  border: 0;
  margin-bottom: .25em;
  padding: 0 20px;
  text-align: center;
  max-width: 200px;
  line-height: 46px;
}

.enter-cart {
  padding: 15px 20px;
}

/* index.html */
.btn {
  background-color: #1E1E1E;
  color: #FFFFFF;
  font-size: 12px;
  border: 0;
  margin-bottom: .25em;
  padding: 0 20px;
  text-align: center;
  max-width: 200px;
  line-height: 46px;
}

.btn-join {
  padding: 0 40px;
}

.email-offers {
  background-color: #F7F8F9;
  border-width: 1px;
  border-top-color: #D1D4D6;
  border-bottom-color: #D1D4D6;
  border-style: solid;
  display: flex;
  justify-content: center;
}

.emails {
  padding: 30px;
}

.enter-email {
  padding: 30px;
}

.email-button {
  margin: 20px;
}

.footer-img {
  background-image: url("../img/alwaysOn/FOOTER.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
  background-position: bottom;
}

.footer-text {
  font-size: 16px;
  line-height: 30px;
  margin: auto;
  max-width: 768px;
  min-width: 320px;
  text-align: center;
  width: 62%;
  padding: 250px 0 60px;
}

.footer-icons {
  margin: 0 auto 23px;
  max-width: 1280px;
  min-width: 320px;
  text-align: center;
  width: 25%;
}

.copyright {
  padding-bottom: 50px;
  font-size: 11px;
  margin: auto;
  min-width: 320px;
  max-width: 1280px;
  text-align: center;
  width: 25%;
}

h4 {
  font-size: 12px;
  line-height: 26px;
  padding-bottom: 4px;
  letter-spacing: .5px;
}

.hr-bnav {
  background: #1e1e1e;
  border: 0;
  color: #1e1e1e;
  float: left;
  height: 2px;
  margin: 0;
  text-align: left;
  width: 36px;
}

.bottom-nav {
  display: flex;
  justify-content: space-around;
  margin: 20px 160px;
}

.bottom-nav-col {
  margin: 15px 0;
}

.bottom-nav-list {
  margin: 28px 0 0;
}

.bottom-nav-list li {
  font-size: 11px;
  line-height: 18px;
  margin: 10px 0;
}

@media screen and (max-width: 767px) {
  .footer-img .banner-image{
    background-position: bottom center;
    background-size: auto 130%;
  }
  .footer-text {
    padding: 100px 0 70px;
    font-size: 15px;
    line-height: 28px;
    min-width: 300px;
    width: 74%;
  }
}

/* home page */
.banner-image {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
}

.watch-sizes {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.size-gutter {
  padding: 15px;
}

.home-buttons {
  text-align: center;
}

.home-buttons .btn {
  display: inline-block;
}
