body {
  font-family: 'Montserrat', sans-serif;
  color: #1e1e1e;
  letter-spacing: .25px;
}

/* index.html */
.black-bar-nav {
  height: 40px;
  background-color: #1E1E1E;
  font-size: 11px;
  color: #FFFFFF;
}

.menu-nav-container {
  background-color: #FFFFFF;
  height: 100px;
  margin-top: 19px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.menu-middle {
  margin: auto;
}

.middle {
  padding: 0px 20px;
}

.first-last {
  padding: 0px 10px;
}

.footer-img {
  background-image: url("../img/alwaysOn/FOOTER.jpg");
  background-size: cover;
}

.footer-text {
  font-size: 16px;
  line-height: 30px;
  margin: auto;
  max-width: 768px;
  min-width: 320px;
  text-align: center;
  width: 62%;
  padding: 250px 0 60px;
}

.footer-icons {
  margin: 0 auto 23px;
  max-width: 1280px;
  min-width: 320px;
  text-align: center;
  width: 25%;
}

.copyright {
  padding-bottom: 50px;
  font-size: 11px;
  margin: auto;
  min-width: 320px;
  max-width: 1280px;
  text-align: center;
  width: 25%;
}

@media screen and (max-width: 767px) {
  .footer-img {
    background-position: bottom center;
    background-size: auto 130%;
  }
  .footer-text {
    padding: 100px 0 70px;
    font-size: 15px;
    line-height: 28px;
    min-width: 300px;
    width: 74%;
  }
}

/* individual product pages */
.spec-container {
  background-color: #F7F8F9;
  display: flex;
}
