body {
  font-family: 'Montserrat', sans-serif;
  color: #1e1e1e;
  letter-spacing: .25px;
}

a {
  color: inherit;
}

h2 {
  font-size: 24px;
  padding: 10px 0 20px 0;
}

.login-btn {
  background-color: #D1D4D6;
  color: #1E1E1E;
  border: 0;
}

.center {
  text-align: center;
}

.row {
  display: inline-block;
  padding: auto 20px;
}

.row-padding {
  margin: 10px 30px 40px 30px;
}

.gray-bar-border {
  background-color: #F7F8F9;
  border-width: 1px;
  border-top-color: #D1D4D6;
  border-bottom-color: #D1D4D6;
  border-style: solid;
  z-index: 5;
}

.gray-bar-nav {
  height: 40px;
  font-size: 11px;
  color: #1E1E1E;
}

.grey-back {
  background-color: #F7F8F9;
}

.black-bar-nav {
  height: 40px;
  background-color: #1E1E1E;
  font-size: 11px;
  color: #FFFFFF;
  display: flex;
  justify-content: flex-end;
}

.cart-btn {
  background-color: #1E1E1E;
  color: #FFFFFF;
  font-size: 12px;
  border: 0;
  margin-bottom: .25em;
  padding: 0 20px;
  text-align: center;
  max-width: 200px;
  line-height: 46px;
}

.enter-cart {
  padding: 15px 20px;
}

/* index.html */
.btn {
  background-color: #1E1E1E;
  color: #FFFFFF;
  font-size: 12px;
  border: 0;
  margin-bottom: .25em;
  padding: 0 20px;
  text-align: center;
  max-width: 200px;
  line-height: 46px;
}

.btn-join {
  padding: 0 40px;
}

.email-offers {
  display: flex;
  justify-content: center;
}

.emails {
  padding: 30px;
}

.enter-email {
  padding: 30px;
}

.email-button {
  margin: 20px;
}

.footer-img {
  background-image: url("../img/alwaysOn/FOOTER.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
  background-position: bottom;
}

.footer-text {
  font-size: 16px;
  line-height: 30px;
  margin: auto;
  max-width: 768px;
  min-width: 320px;
  text-align: center;
  width: 62%;
  padding: 250px 0 60px;
}

.footer-icons {
  margin: 0 auto 23px;
  max-width: 1280px;
  min-width: 320px;
  text-align: center;
  width: 25%;
}

.copyright {
  padding-bottom: 50px;
  font-size: 11px;
  margin: auto;
  min-width: 320px;
  max-width: 1280px;
  text-align: center;
  width: 25%;
}

h4 {
  font-size: 12px;
  line-height: 26px;
  padding-bottom: 4px;
  letter-spacing: .5px;
}

.hr-bnav {
  background: #1e1e1e;
  border: 0;
  color: #1e1e1e;
  float: left;
  height: 2px;
  margin: 0;
  text-align: left;
  width: 36px;
}

.bottom-nav {
  display: flex;
  justify-content: space-around;
  margin: 20px 160px;
}

.bottom-nav-col {
  margin: 15px 0;
}

.bottom-nav-list {
  margin: 28px 0 0;
}

.bottom-nav-list li {
  font-size: 11px;
  line-height: 18px;
  margin: 10px 0;
}

.page-banner-text {
  text-align: center;
  margin: auto auto;
  font-size: 24px;
}

.banner-box {
  background-color: #F7F8F9;
  display: flex;
  justify-content: center;
  height: 420px;
}



/* home page */
.banner-image {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
}

.watch-sizes {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  flex-wrap: wrap;
}

.size-gutter {
  padding: 15px;
}

.home-buttons {
  text-align: center;
}

.home-buttons .btn {
  display: inline-block;
}

.three-image {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.home-three-image {
  width: 300px;
  height: 244px;
  margin: 10px;
  padding: 10px;
}

.two-image {
  margin: 10px;
  padding: 10px;
}

.change-case {
  text-transform: uppercase;
}

.top-mar {
  margin-top: 30px;
}

.dark {
  color: #1E1E1E;
}

/* navigation */
.container {
  background-color: #FFFFFF;
  height: 115px;
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  line-height: 20px;
}

.logo {
  padding-top: 30px;
  margin-top: 15px;
}

.top-level {
  margin: auto 10px;
}

.bottom-level {
  background-color: #FFFFFF;
  padding: 20px;
}

.menu-align {
  display: flex;
  justify-content: space-around;
}

.top-level-hover:hover {
  border-bottom: 2px solid;
}

.nav-col {
  font-size: 11px;
  background-color: #FFFFFF;
  margin: 5px;
}

.sub:hover {
  color: #D1D4D6;
}

.sub {
  margin-right: 10px;
}

.sub-nav-hr {
  color: #eef0f0;
  margin: 0;
  height: 1px;
  margin: 0;
  text-align: left;
  border: 0;
}

/* individual product pages */
.spec-container {
  background-color: #F7F8F9;
  display: flex;
  width: 100%;
  padding: 80px 0;
  flex-wrap: wrap;
}

.specs-text {
  width: 35%;
  margin-left: 90px;
  padding-top: 25px;
}

.large-product-image {
  width: 55%;
}

h6 {
  font-size: 11px;
  line-height: 19px;
  margin-bottom: 5px;
  color: #9B9E9F;
}

h3 {
  font-size: 22px;
  line-height: 26px;
  letter-spacing: .002em;
  margin-bottom: 10px;
}

hr {
  background: #D1D4D6;
  color: #D1D4D6;
  margin: 25px 0;
}

.hr-features {
  max-width: 50px;
  margin: 25px 0;
}

.features {
  font-size: 12px;
  line-height: 22px;
  min-width: 325px;
}

.wid-max {
  min-width: 325px;
}

.h3-sub {
  font-size: 16px;
  margin-bottom: 5px;
}

.features-box {
  margin-right: 128px;
}

.indiv-page {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.col-up {
  display: flex;
  flex-direction: column;
  margin-top: 110px;
  margin-left: 80px;
}

.item-info {
  margin-top: 110px;
  margin-right: 80px;
}

.pics-mar {
  margin: 25px auto;
}

.btn-mar {
  margin: 15px auto;
}

@media screen and (max-width: 767px) {
  .footer-img .banner-image{
    background-position: bottom center;
    background-size: auto 130%;
  }
  .footer-text {
    padding: 100px 0 70px;
    font-size: 15px;
    line-height: 28px;
    min-width: 300px;
    width: 74%;
  }
  .email-offers {
    display: none;
  }
  .bottom-nav {
    display: none;
  }
  .banner-box {
    display: none;
  }
  .menu-align {
    display: none;
  }
}
