<div class='spec-container'>
  <div class='specs-text'>
    <div class='features-box'>
    <h6>THE STORY</h6>
    <h3>SUPERIOR STYLE</h3>
      <p class='features'>The strategic blend of high-caliber construction and disciplined design result in a forceful display of superior style.<p>
    <hr>
    <h6>FEATURES</h6>
    <h3 class='h3-sub'>COMMANDING</h3>
      <p class='features'>Rugged and functional, with a 48mm case crafted with unique angles and lines<p>
    <hr class='hr-features'>
    <h3 class='h3-sub'>THE ESSENTIALS</h3>
      <p class='features'>3-hand movement with large numeral indices and a printed seconds track<p>
    <hr class='hr-features'>
    <h3 class='h3-sub'>LUM DIAL</h3>
      <p class='features'>Custom molded hands with luminous fill for easy nighttime viewing</p>
    <hr class='hr-features'>
    <h3 class='h3-sub'>BURLY CONSTRUCTION</h3>
      <p class='features'>2-piece case/bezel assembly with stainless steel fixed bezel protecting the recessed crystal</p>
    <hr class='hr-features'>
    <h3 class='h3-sub'>DURABILITY AND COMFORT</h3>
      <p class='features'>24 mm custom solid stainless steel faceted 3-link band with double locking clasp with micro adjust</p>
    <hr>
    <p>USER MANUAL</p>
    <p>SIZE CHART</p>
    <p>WATER RATING</p>
    <hr>
    FULL SPECS
    <hr>
    <h6><span style='color:#1e1e1e;'>WARRANTY:</span> Nixon offers a <span style='color:#1e1e1e;text-decoration:underline;'>limited warranty</span> of defects in materials and workmanship for a period of two (2) years after original purchase.</h6>
  </div>
  </div>
  <div class='large-product-image'><img src='../img/watches/mens/corporal/large-product-view.png'></div>
</div>
