
  <div>
    <div class='gray-bar-border gray-bar-nav'></div>
  <h6>{{selectedWatch.sku}}</h6>
  <h1>{{selectedWatch.name}}, {{selectedWatch.size}}</h1>
  <h5>{{selectedWatch.price | currency}}</h5>
  <img width="154" height="220" ng-src="{{watches.largeView}}" alt="">
  <img width="25" ng-src="{{selectedWatch.view1}}" alt="" ng-click='changeView(selectedWatch.view1)'>
  <img width="25" ng-src="{{selectedWatch.view2}}" alt="" ng-click='changeView(selectedWatch.view2)'>
  <img width="25" ng-src="{{selectedWatch.view3}}" alt="" ng-click='changeView(selectedWatch.view3)'>
  <div class="" ng-repeat="watch in watches.watches" ng-click="changeWatch(watch)">
      <a><img ng-src='{{watch.view1}}' width=45px></a>
  </div>
  <div class="">
    <p>{{selectedWatch.color}}</p>
    <p ng-show="selectedWatch.in_stock">In Stock</p>
    <p ng-hide="selectedWatch.in_stock">Out of Stock</p>

  </div>
  <add-to-cart-directive product='selectedWatch'></add-to-cart-directive>

<div class='spec-container'>
  <div class='specs-text'>
    <div class='features-box'>
    <h6>THE STORY</h6>
    <h3>ESSENTIAL.</h3>
      <p class='features'>As essential and timeless as any closet staple, the G.I. Leather transplants a classic soul into a modern skin—metal and leather construction paired with simple, no frills design.<p>
    <hr>
    <h6>FEATURES</h6>
    <h3 class='h3-sub'>3-HAND</h3>
      <p class='features'>Miyota Japanese 3-hand quartz crystal.<p>
    <hr class='hr-features'>
    <h3 class='h3-sub'>SOLID CONSTRUCTION</h3>
      <p class='features'>36mm, 100 meter/10ATM custom solid stainless steel case with a solid stainless steel fixed bezel. Hardened mineral crystal.<p>
    <hr class='hr-features'>
    <h3 class='h3-sub'>COMFORT</h3>
      <p class='features'>18mm-16mm tapered leather band with custom buckle.</p>
    <hr>
    <p>USER MANUAL</p>
    <p>SIZE CHART</p>
    <p>WATER RATING</p>
    <hr>
    FULL SPECS
    <hr>
    <h6><span style='color:#1e1e1e;'>WARRANTY:</span> Nixon offers a <span style='color:#1e1e1e;text-decoration:underline;'>limited warranty</span> of defects in materials and workmanship for a period of two (2) years after original purchase.</h6>
  </div>
  </div>
  <div class='large-product-image'><img src='../img/watches/womens/gi/leather/large-leather-product-view.png'></div>
</div>
</div>
