<div>
<div class='banner-box'>
<div class='page-banner-text'>
  WOMEN'S WATCHES
</div>
<div class='page-banner-image'>
  <img src='../img/banners/womensBanners/banner-women-watches.jpg'>
</div>
</div>
<div class="" ng-repeat="(key, value) in products">
  <hr>
  {{key}}
  <br>
  <img width="154" height="220" ng-src="{{value.largeView}}" alt="" ng-click='viewProduct(key, value)'>
  <div style="display: inline-block" ng-repeat="watch in value.watches" class="" ng-mouseover="showView(value, watch.view1)">
    <a><img ng-src='{{watch.view1}}' width=45px></a>
  </div>


</div>
</div>
